.body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url('../images/coffeeBreak.jpeg');
  background-repeat: repeat;
}


.bg-primary {
    background-color: #3E2723!important;
}

.card-footer {
  background: transparent;
  border-top: 0px;
}


.footer-content {
  font-size: 1em;
}

  .coffeemachine {
    margin-top: 60px;
  }

  .card-img-top {
    object-fit:contain; 
    height: 300px; 
}
  .card {
    margin-bottom: 20px;
    text-align: center;
    padding: 0;
  }

  .coffeeparty {
    margin-top: 60px;
  }
  .allproducts {
    margin-top: 60px;
  }

  .coffeeparty-card .card-img-top {
    object-fit: cover;
    
  }

  .allproducts-card .card-img-top {
    object-fit: cover;
  }
  .contact .card-img-top {
    object-fit: contain;
    height: 80px;
    width: 80px;
    border: rgb(232, 226, 226) solid 1px; 
  }

  .contact .card {
    text-align: center;
  }

  /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 40rem;
  width: 100%;
  margin-top: 56px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.welcome-carousel-image1{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  background-image:url('../images/carousel1.jpeg');
}

.welcome-carousel-image2{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  background-image:url('../images/coffeeMachine.webp');
}

.welcome-carousel-image3{
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
  background-image:url('../images/carousel3.jpeg');
}

/* Jumbotron */
.jumbotron-other {
  background: url('../images/carousel3.jpeg') no-repeat fixed;
}

.jumbotron {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
  height: 20vh;
  background-size: cover;
}
.jumbotron-detail-coffeemachine {
  background: url('../images/coffeeMachine2.png') no-repeat fixed;
}

/* shopping cart offcanvas */
.shopping-cart-offcanvas {
  width: 500px;
}

